.custom-modal {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(128, 128, 128, 0.44);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.inner-modal {
    width: 400px;
    height: 550px;
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
}

.modal-form {
    display: flex;
    flex-direction: column;
    gap: 30px;
    height: 100%;
    align-items: flex-start;
}